<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Land Ho</title>
</head>
    <body>
        <h1>Create your website!</h1>
        <form method="post">
            <h3>Business name: </h3>
            <input id="company" placeholder="Land Ho"/>
            <h3>Address</h3>
            <input id="address" placeholder="@home"/>
            <h3>Phone Number</h3>
            <input id="phone_number" placeholder="(650) 492 - 9426"/>
            <h3>Hours</h3>
            <input id="hours" placeholder="M-F 9am-8pm"/>
            <br>
            <button>See my website</button>
        </form>
    </body>
</html>