<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Land Ho</title>
    <link rel="stylesheet" href="style.css">
     <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
</head>
    <body id = "container">
        <div class = "content_wrapper">
	        <div id = "header">
	        	<h1 id = "title">Land Ho!</h1>
	        	
	        	<p id ="description">This is a placeholder description for index page</p>
	        </div>

	        <div id = "begin_button_section">
	        	<button id="begin_button">Create a Site!!</button>
	        </div>
        </div>
    
</body>
</html>
